apiVersion: v1
kind: Service
metadata:
  name: app-boas-vindas
  labels:
    run: app-boas-vindas
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    run: app-boas-vindas